body {
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

a , a:visited {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

hr {
    margin: 0;
}

.tile-section-title {
    margin: 0;
    padding-top: 106px;
}

.subtxt {
    margin: 13px 0 51px;
    font-family: 'Montserrat', sans-serif !important;
}

.tile-section-cta {
    margin-bottom: 125px;
}

.tile-left-button {
    margin-right: 15px;
}

.tile-right-button {
    color: #141516;
    border: 1px solid #141516 !important;    
    min-width: 165px;
    margin-left: 15px;
    background: #fff;
}

.tile-list-subtitle {
    margin: 0;
    padding-left: 13px;
}

.tile-list-txt {
    max-width: 230px;
    margin-bottom: 70px;
    font-weight: 500 !important;
}

.tile-list-item{
    min-width: 240px;
}

.tile-list-box {
    padding: 0 100px 60px;
}

.tile-list {
    flex-wrap: wrap;
}

.section-background {
    background-color: #141516;
}

.centered-title {
    margin: 61px 0 68px 0;
}

.secondary-section-box {
    margin-bottom: 215px;
}

.secondary-section-content {
    padding-top: 29px;
}

.secondary-section-txt {
    max-width: 440px;
    margin: 26px 0;
}

.section-content-link {
    font-weight: 500 !important;
    padding-right: 12px;
}

.side-content-box {
    position: relative;
    padding: 30px 0 0 50px;
}

.button-group {
    background-color: #fff;
    z-index: 1;
    min-width: 260px;
    min-height: 260px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 27px;
}

.grouped-button {
    background-color: #F5F5F5;
    border: none;
    border-radius: 12px;
    padding: 16px 11px;
    min-width: 190px;
    word-spacing: 70px;
}

.subsection-box {
    margin-bottom: 230px;
}

.subsection-content {
    padding-top: 18px;
}

.secondary-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.subsection-img-box {
    position: relative;
    padding: 20px 15px 0 0;
}

.icon-position-box {
    width: 64px;
    height: 52px;
    background-color: #F5F5F5;
    position: absolute;
    border-radius: 12px;
    top: 0;
    right: 0;
}

.subsection-title {
    margin: 0;
}

.subsection-txt {
    margin-bottom: 55px;
}

.secondary-cta {
    display: flex;
    margin-bottom: 90px;
}

.twin-button-left {
    border: 1px solid #141516 !important;    
    min-width: 165px;
    margin-right: 15px;
}

.twin-button-right {
    background-color: #141516;
    border: 1px solid #fff !important;
    padding: 13px 61px 13px 61px !important;
    margin-left: 15px;
}

.relative-img-box {
    position: relative;
    margin: 0 0 50px 20px;
    margin-bottom: 120px;
}

.absolute-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.portfolio-title {
    margin: 133px 0 0;
}

.portfolio-txt {
    margin: 14px 0 100px 0;
}

.portfolio{
    padding-left: 0;
}

@media screen and (max-width: 1725px) {
    .portfolio-top :nth-child(4){
        display: none;
    }
    .portfolio-bot :nth-child(4){
        display: none;
    }
}


@media screen and (max-width: 1365px) {
    .portfolio-top :nth-child(3){
        display: none;
    }
    .portfolio-bot :nth-child(5){
        display: none;
    }
}

.portfolio-top {
    margin-bottom: 24px;
}

.portfolio-bot {
    margin-bottom: 200px; 
}

.footer-background {
    background-color: #F5F5F5;
}

.footer-layout {
    padding: 80px 355px 21px 300px;
    width: 1140px;
}

.footer-box {
    align-items: flex-start;
    position: relative;
}

.footer-side-txt {
    max-width: 170px;
    padding-top: 25px;
}

.footer-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-list-title {
    margin: 0 0 8px;
}

.footer-list-txt {
    color: #141516;
    max-width: 180px;
    padding-left: 10px;
    margin: 12px 0;
}

.footer-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #7C7C7C;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 13px;
    min-width: 480px;
    margin-bottom: 18px;
}

.footer-input-title {
    margin: 0 0 20px 0;
}

.footer-input-txt {
    padding: 13px 18px;
}

.footer-input-message {
    min-width: 480px;
    min-height: 94px;
    padding: 13px 18px 83px;
}

.footer-input-button {
    padding: 13px 39px !important;
    min-width:  160px;
    margin-bottom: 40px;
}

.footer-copyright {
    padding: 20px 0;
    margin: 0;
    border-top: #C9C9C9 1px solid;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #141516;
}

.hero-nav {
    padding-top: 35px;
}

.logo-box {
    padding-right: 96px; 
}

.hero-logo {
    cursor: pointer;
}

.nav-right-content {
    display: flex;
}

.nav-ul {
    min-width: 340px;
}

.right-nav-ul {
    display: flex;
}

.nav-link {
    margin: 0;
}

.nav-button {
        margin: -13px 0 0 56px;
}

.hero-title {
    max-width: 500px;
    padding-top: 58px;
    margin: 0;
}

.hero-para {
    max-width: 440px;
    margin-bottom: 50px;
}

.hero-cta-button{
    border: 1px solid #fff !important;    
    padding: 13px 61px !important;
    background-color: #141516;
}

.hero-cta {
    max-width: 360px;
}

.hero-content {
    margin-bottom: 135px;
    padding: 100px 0 0;
}

.hero-content-img {
    position: relative;
    padding: 0 35px 0 15px;
}

.hero-img-phone {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-absolute-box {
    background-color: #fff;
    height: 30px;
    width: 72px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    top: -21px;
    right: 0px;
}

.hero-image-list {
    margin-bottom: 74px;
}

.button {
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    padding: 13px 29px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.section-layout {
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text{
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
}

.subtitle-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.paragraph-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mulish', sans-serif;
}

.form-position {
    max-width: 480px;
}

.blue-background {
    background: #006AFF;
    color: #fff;
}

.white {
    color: #fff;
}

.dark {
    color: #141516;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrally-justified {
    display: flex;
    justify-content: center;
}

.centrally-aligned{
    display: flex;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

