body{
    margin: 0;
    padding: 0;
}
.main-section{
    height: 800px;
    background-color: #141516;
}
.main-content{
    width: 1140px;
    margin: auto;
    
}
.main-nav{
    padding-top: 34px;
    display: flex;
    align-items: center; 
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 0;
    
    /* justify-content: space-between; */

}
.main-logo{
    cursor: pointer;
    margin-right: 96px;
}
.main-nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* margin-right: 800px; */
}
.main-nav-li{
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
    transition: all 500ms; 
}
.main-nav-li:hover{
    color: #006AFF;
    
}
.main-nav-right{
    margin-left: 230px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    /* left: 80%;
    position: absolute; */
    
}
.right-li{
    cursor: pointer;
    display: inline-block;
     margin-left: 70px; 
    
}  
.main-right-button{
    background: #006AFF;
    width: 165px;
    position: absolute;
    height: 45px;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 0;
    cursor: pointer;
    top: 20px;
}                      
       