body {
    margin: 0;
    padding: 0;
}

a , a:visited {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
}

hr {
    margin: 0;
    margin-bottom: 20px;
}

.hero-section {
    height: 800px;
    background-color: #141516;
}

.hero-content {
    width: 1140px;
    margin: auto;
    
}

.hero-nav {
    padding-top: 34px;
    display: flex;
    align-items: center; 
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 0;
    
    /* justify-content: space-between; */

}

.hero-logo {
    cursor: pointer;
    margin-right: 96px;
}

.hero-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* margin-right: 800px; */
}

.hero-nav-link {
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
    transition: all 500ms; 
}

.hero-nav-link:hover {
    color: #006AFF;
    
}

.hero-nav-right { 
    margin-left: 230px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    /* left: 80%;
    position: absolute; */
    
}

.right-link {
    cursor: pointer;
    display: inline-block;
     margin-left: 70px; 
    
}

.hero-right-button {
    background: #006AFF;
    width: 165px;
    position: absolute;
    height: 45px;
    border-radius: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 0;
    cursor: pointer;
    top: 20px;
}

.hero-header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    top: 230px;
    position: absolute;
    width: 500px;
    margin: 0;
}

.hero-p {
    font-family: 'Mulish', sans-serif;
    color: white;
    width: 450px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    top: 350px;
    position: absolute;
    
}

.blue-hero-btn {
    background: #006AFF;
    width: 165px;
    position: absolute;
    height: 45px;
    border-radius: 37px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 0;
    cursor: pointer;
    top: 485px;
    text-align: center;
    padding-bottom: 5px;
}

.login-hero-btn {
    width: 165px;
    position: absolute;
    height: 40px;
    border-radius: 37px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 200px;
    top: 485px;
    cursor: pointer;
}

.hero-img-tv {
    position: absolute;
    top: 175px;
    margin-right: 150px;
    right: 152px;
    width: 543px;
}

.hero-img-phone {
    z-index: 2;
    position: absolute;
    top: 275px;
    right: 700px;
}

.hero-live {
    position: absolute;
    z-index: 2;
    padding-left: 13px;
    padding-top: 3px;
}

.live-hero-box {
    background-color: white;
    height: 30px;
    width: 72px;
    border-radius: 20px;
    top: 155px;
    left: 1525px;
    position: absolute;
}

.hero-platforms-flex {
    margin-top: 645px;
    position: absolute;
}

.hero-platforms-list {
    list-style-type: none;

}

.hero-platforms {
    display: inline-block;
    margin-left: 120px;
    cursor: pointer;
}

.hero-platforms:first-child {
    margin-left: -20px;
}

.benefit-section {
    justify-content: center;
    display: flex;
}

.benefit-flex {
    display: flex;
    flex-direction: column;
    width: 1140px;
}

.benefit-title {
    font-family: 'Montserrat', sans-serif;
    color: #141516;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    padding-top: 106px;
    text-align: center;
}

.benefit-subtxt {
    font-family: 'Mulish', sans-serif;
    color: #141516;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 51px;
}

.benefit-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.benefit-trial-btn {
    background: #006AFF;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    padding: 13px 29px 13px 29px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-right: 15px;
}

.benefit-login-btn {
    border-radius: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #141516;
    border: 1px solid #141516;    
    padding: 13px 29px 13px 29px;
    min-width: 165px;
    margin-left: 15px;
}

.benefit-list-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #141516;
    margin: 0;
    padding-left: 13px;
}

.benefit-list-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #141516;
    font-family: 'Mulish', sans-serif;
    max-width: 230px;
    margin-bottom: 70px;
}

.benefit-list-subtitlebox {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.benefits-list-box {
    padding: 0 100px 60px 100px;
}
.benefit-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.growth-section {
    background-color: #141516;
    display: flex;
    justify-content: center;
}

.growth-flex {
    display: flex;
    flex-direction: column;
    width: 1140px;
}

.growth-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 52px;
}

.money-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 235px;
}

.money-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.money-start {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.money-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

.money-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    font-family: 'Mulish', sans-serif;
    max-width: 440px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.money-link {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 12px;
}

.money-img-box {
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
}

.donation-box {
    background-color: white;
    z-index: 1;
    min-width: 260px;
    min-height: 260px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.donation-btn {
    background-color: #F5F5F5;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 60px;
    cursor: pointer;
    padding: 16px 11px 16px 11px;
    
}

.growth-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 230px;
}

.growth-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.money-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

.growth-img-box {
    position: relative;
    padding-top: 20px;
    padding-right: 15px;
}

.growth-mail-box {
    width: 64px;
    height: 52px;
    background-color: #F5F5F5;
    position: absolute;
    border-radius: 12px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

.quality-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 55px;
}

.quality-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quality-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}

.quality-start-btn {
    border-radius: 25px;
    border: 1px solid #141516;    
    padding: 13px 29px 13px 29px;
    min-width: 165px;
    margin-right: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #141516;
}

.quality-login-btn {
    border-radius: 37px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #141516;
    border: 1px solid white;
    cursor: pointer;
    padding: 13px 61px 13px 61px;
    margin-left: 15px;
}


.quality-img-box {
    position: relative;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-bottom: 120px;
}


.quality-phone {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.fame-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fame-flex {
    /* display: flex;
    flex-direction: column; */
    width: 1140px;
    text-align: center;
}

.fame-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
    color: #141516;
    margin-top: 133px;
    margin-bottom: 0;
}

.fame-txt {
    margin-top: 14px;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #141516;
    font-family: 'Mulish', sans-serif;
}

.fame-portfolio-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-left: 0;
}

.fame-portfolio-bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 200px;
}

.ftr-box {
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 300px;
    padding-right: 355px;
}

.ftr-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.ftr-social-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #141516;
    font-family: 'Mulish', sans-serif;
    max-width: 170px;
    padding-top: 25px;
}

.ftr-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.ftr-contact {
    display: flex;
    flex-direction: column;
}

.ftr-contant-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #141516;
    margin-top: 0;
    margin-bottom: 8px;
}

.ftr-contact-txt {
    font-family: 'Mulish', sans-serif;
    color: #141516;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    max-width: 180px;
    padding-left: 10px;
    margin: 12px 0 12px 0;
}

.ftr-contact-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.ftr-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ftr-input-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #141516;
    margin-top: 0;
    margin-bottom: 20px;
}

.ftr-input-txt {
    color: #7C7C7C;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 13px;
    min-width: 480px;
    padding: 13px 18px 13px 18px;
    margin-bottom: 18px;
}

.ftr-input-msg {
    color: #7C7C7C;
    font-family: 'Mulish', sans-serif;
    color: #141516;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 13px;
    min-width: 480px;
    min-height: 94px;
    padding: 13px 18px 83px 18px;
    margin-bottom: 18px;

}

.ftr-input-btn {
    background: #006AFF;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    padding: 13px 39px 13px 39px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.afterthought {
    background-color: #F5F5F5;
}

.aftertxt {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #141516;
    margin-bottom: 10px;
}